apache-beam==2.32.0
atomicwrites==1.4.0
attrs==21.2.0
avro-python3==1.9.2.1
certifi==2021.5.30
charset-normalizer==2.0.6
crcmod==1.7
deprecation==2.1.0
dill==0.3.1.1
docker==5.0.2
docopt==0.6.2
execnet==1.9.0
fastavro==1.4.5
freezegun==1.1.0
future==0.18.2
greenlet==1.1.2
grpcio==1.41.0
hdfs==2.6.0
httplib2==0.19.1
idna==3.2
mock==2.0.0
more-itertools==8.10.0
nose==1.3.7
nose-xunitmp==0.4.1
numpy==1.20.3
oauth2client==4.1.3
orjson==3.6.4
packaging==21.0
pandas==1.2.5
parameterized==0.7.5
pbr==5.6.0
pluggy==0.13.1
protobuf==3.18.0
psycopg2-binary==2.9.1
py==1.10.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydot==1.4.2
PyHamcrest==1.10.1
pymongo==3.12.0
pyparsing==2.4.7
pytest==4.6.11
pytest-forked==1.3.0
pytest-timeout==1.4.2
pytest-xdist==1.34.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
requests==2.26.0
requests-mock==1.9.3
rsa==4.7.2
six==1.16.0
SQLAlchemy==1.4.25
tenacity==5.1.5
testcontainers==3.4.2
typing-extensions==3.7.4.3
urllib3==1.26.7
wcwidth==0.2.5
websocket-client==1.2.1
wrapt==1.12.1
